ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#movie-title {
  padding-top: 20px;
  font-size: 26px;
}

img {
  margin-top: 15px;
  border: black solid 2px;
  max-width: 400px;
  max-height: 300px;
}
#desc {
  margin: 20px;
  padding: 25px 50px;
  border: 1px black solid;
  text-align: justify;
  background-color: #eaeef7;
  border-radius: 4px;
}
#btn-back {
  font-size: 17px;
  padding: 10px;
  margin: 10px;
  background-color: #d3d6dc;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  float: center;
  width: 130px;
}
