/* .movies {
    display : flex;
    flex-wrap: wrap;
} */
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#movie-title {
  padding-top: 20px;
  font-size: 26px;
}

img {
  margin-top: 15px;
  border: black solid 2px;
  max-width: 400px;
  max-height: 300px;
}
#desc {
  margin: 20px;
  padding: 25px 50px;
  border: 1px black solid;
  text-align: justify;
}
#back-btn {
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px;
}
