/* .movies {
    display : flex;
    flex-wrap: wrap;
} */
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
#title {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 20px;
}
#image {
  padding-bottom: 20px;
}
#desc {
  margin: 20px;
  padding: 25px 50px;
  border: 1px black solid;
  text-align: justify;
}
#back-btn {
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px;
}
